client_secret.json
token.json

# Terraform
terraform/terraform.tfvars
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/lambda/*.zip
terraform/lambda/package/
terraform/terraform.plan
terraform/terraform.destroy.plan
